*{
    margin: 0px;
    padding: 0px;
}

body,html{

    width: 100vw;
    height: 100vh;
    overflow:auto;

}
body{ 
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/*<!--- Header Content Styling--->*/
.header{
    
    width: 90vw;
    display: flex;
    flex-direction: row;
    padding: 7px 5vw 7px 5vw;
    justify-content: space-between;
    background-color: #414A4C;
    flex: 0 0 60px;
    min-width: 700px;

}




    /*<!!---Top Logo Styling--->*/
#logoContainer{
        width: fit-content;
        height: fit-content;
}

#logo{

    width: auto;
    height: 56px;
    margin-left: 15px;
    cursor:pointer;
    transition: all 1s ease;
}

#logo:hover{

    transform: scale(3) translateY(40px);
    background-color: #414A4C;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    content: url(../../Images1/Logo3.png);

}




    /*<!!--- Menu Bar Styling--->*/
.menuBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 20px;
}

.barBtn{

    width: fit-content;

}

.barBtn > button{
    width: 110px;
    height:35px;
    border-radius: 5px;
    font-family: philosopherBold;
    font-size: larger;
    cursor: pointer;
    transition: all 0.2s ease-out;
    opacity: 0.8;
}

.barBtn > button:hover{

    transform: scale(1.2) ;
    background-color: #FFDD43;
    color: #262525;
    opacity:1;

}

@font-face {
    font-family: philosopherBold;
    src: url(../../Fonts/Philosopher-BoldItalic.ttf);
}

#logo2 {
    height:40px;
    width: auto;
    border-radius: 10px;
}




    /*<!!--- Social Icons Styling--->*/
.socials{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

a {
    text-decoration: none;
}

.icon{
    width: 30px;
    height: auto;
}





/*<!---Content Styling--->*/

.layout{

    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(#262525,#515151,#262525,#262525) ;
    padding: 7px 5vw 7px 5vw;
    min-width: 700px;

}

.menuLayout{

    display: flex;
    flex-direction: column;
    width:75vw;
    margin: 150px 12vw 150px 12vw;
    border-radius: 15px;
    background:linear-gradient(45deg,#262525,#515151,#676666,#939292,#262525,#515151,#676666,#939292,#262525,#515151,#676666,#939292);
    
}

    /*<!!---Sides Styling--->*/
.topSection,.bottomSection,.middleSection{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidesGeo{
    width:18vw;
    height:18vw;
}

.sidesContainer{
    background: linear-gradient(45deg,#232526,#414345,#967A1B,#232526,#414345,#232526,#414345,#967A1B,#232526,#414345);
    border-radius:50px ;
    width: 1vw;
    height:190vh;
}

#leftGeo{margin-left: 5vw}
#rightGeo{margin-right: 5vw}

.topBotGeo{

    width: 28vw ;
    height: 5vw;
}


    /*<!!---Content Styling--->*/

.content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-self: center;
    gap: 6vw;
    padding: 10vh 0px;
}

#topGeo{

    font-family: David;
    font-weight: 500;
    font-size:xxx-large;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1.12px;
    color: #d6ad28;
    padding: 20px 20px 20px 50px;
}

.item{
    display: flex;
    align-items: center;
    gap: 5vw;
    background-color: #232526;
    border: 2px solid #967A1B;
    padding: 2vw;
    border-radius: 10%;
    transition: all 0.3s ease-in;
}

.item:hover{

    transform: scale(1.3);
}

.ImgMenu{
    
   width:10vw;
   height: 10vw;
   border-radius: 30%;
   border: 2px solid #967A1B;
}

@font-face {
    font-family: David;
    src: url(./Fonts/Cardo-Regular.ttf);
}

.item>.describtion{
    width:30vw;
    text-align: justify;
    font-size: 1.1rem;
    color: rgb(243, 240, 240);
    font-family: David;
    letter-spacing: 0.9px;
}



/*<!--- Footer Styling--->*/
#footer{
    background: #414A4C;
    width: 90vw;
    height:300px;
    display: flex;
    flex-direction: row;
    padding: 7px 5vw 7px 5vw;
    min-width: 700px;
}

.info{
    display: flex;
    padding: 20px;
    width: 60vw;
    gap: 10vw;
    align-items: center;
    min-width: 500px;
}



ul{
    list-style-type:"-  ";
    text-align: justify;
    font-family: David;
    color: rgb(250, 243, 230);
    line-height: 25px;
    letter-spacing: 0.8px;
    font-size: 1rem;
}

ul> li> h2{
    color:#e6c65c;
    
}
.title{
    list-style-type: none;
}

#bottomComplain{
    text-decoration: none;
    color:rgb(250, 243, 230) ;
}

.reference:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.bottomLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
    padding: 20px;
}

#logobottom{
    width: 15vw;
    height: 15vw;
}