/* Index of Styles:
    /*<!--- Header Content Styling--->*/
        /*<!!---Top Logo Styling--->*/
        /*<!!--- Menu Bar Styling--->*/
        /*<!!--- Social Icons Styling--->*/

    /*<!--- Layout1 Content Styling--->*/
        /*<!!--- Slogan Content Styling--->*/
        /*<!!--- Images Content Styling--->*/

    /*<!--- Layout2 Content Styling--->*/
        /*<!!--- Category Images Content Styling--->*/
        /*<!!--- Buttons Images Content Styling--->*/

    /*<!--- Layout3 Content Styling--->*/
        /*<!!--- Motto Section Styling--->*/
        /*<!!--- About Section Styling--->*/
            /*<!!!--- Beliefs and Members Styling--->*/
            /*<!!!--- Service Pictures Styling--->*/
    
    /*<!--- Footer Content Styling--->*/









*/

*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

body,html{
    margin:0;
    padding:0;
    width:100%;
    
    overflow: auto;
}

body{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}






/*<!--- Header Content Styling--->*/
.header{
    
    width: 1445px;
    display: flex;
    flex-direction: row;
    padding: 7px 40px 7px 40px;
    justify-content: space-between;
    background-color: #414A4C;
    flex: 0 0 60px;
}




    /*<!!---Top Logo Styling--->*/
#logoContainer{
    width: fit-content;
    height: fit-content;
}

#logo{

    width: auto;
    height: 56px;
    margin-left: 15px;
    cursor:pointer;
    transition: all 1s ease;
}

#logo:hover{

    transform: scale(3) translateY(40px);
    background-color: #414A4C;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    content: url(./Images1/Logo3.png);

}




    /*<!!--- Menu Bar Styling--->*/
.menuBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 20px;
}

.barBtn{
    width: fit-content;
}

.barBtn > button{
    width: 110px;
    height:35px;
    border-radius: 5px;
    font-family: philosopherBold;
    font-size: larger;
    cursor: pointer;
    transition: all 0.2s ease-out;
    opacity: 0.8;
}

.barBtn > button:hover{
    transform: scale(1.2) ;
    background-color: #FFDD43;
    color: #262525;
    opacity:1;
}

@font-face {
    font-family: philosopherBold;
    src: url(./Fonts/Philosopher-BoldItalic.ttf);
}

#logo2 {
    height:40px;
    width: auto;
    border-radius: 10px;
}




    /*<!!--- Social Icons Styling--->*/
.socials{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

a {
    text-decoration: none;
}

.icon{
    width: 30px;
    height: auto;
}






/*<!--- Layout1 Content Styling--->*/

#layout1{

    display: flex;
    height: 590px;
    width: 1485px;
    padding: 20px;
    gap:20px;
    background-color: #E9E9E9;

}




    /*<!!--- Slogan Content Styling--->*/
.homeSlogan{
    display: flex;
    width: 600px;
    height: 590px ;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.homeSlogan>h2 {
    font-family: David;
    font-weight: 500;
    font-size:xx-large;
    line-height: 37px;
    text-align: justify;
    letter-spacing: 1.12px;
    color: #967A1B;
    padding: 20px 20px 0px 50px;

}

@font-face {
    font-family: David;
    src: url(./Fonts/Cardo-Regular.ttf);
}
.homeSlogan>p{

    padding: 15px 50px 20px 60px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 0.8px;
    font-size: 20px;
}




    /*<!!--- Images Content Styling--->*/
.homeImages{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 590px;
    width: 900px;
}

.homeImage{
    
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px gray;

}

#homeImg1{
    z-index: 2;
    translate: 70%;
    transition: all 0.2s ease-in;
}

#homeImg1:hover{
    z-index: 4;
    transform: scale(1.15);
}

#homeImg2{
    z-index: 3;
    transition: all 0.2s ease-in;
}

#homeImg2:hover{
    
    transform: scale(1.15);
}

#homeImg3{
    z-index: 1;
    translate:-70%;
    transition: all 0.2s ease-in;
}

#homeImg3:hover{
    
    z-index:3;
    transform: scale(1.15);
}






/*<!--- Layout2 Content Styling--->*/

#layout2{

    display: flex;
    height: 410px;
    width: 1325px;
    padding: 50px 100px 50px 100px;
    justify-content: space-around;
    background: #262525;
}

    /*<!!--- Category Images Content Styling--->*/
.category{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 310px;
    gap:20px;
}

.categoryImg{
    
    height: 250px;
    border-radius: 5px;
}

.categoryPic{
    box-shadow: 2px 3px 3px 3px rgba(5, 5, 5, 0.488);
    width:250px;
    height: 250px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.categoryPic:hover{
    transform: scale(1.1);
}




    /*<!!--- Buttons Images Content Styling--->*/

.checkButton {
    height: 40px;
    width: 250px;
    font-size: larger;
    font-family: David;
    color: #262525;
    border-radius: 15px;
    box-shadow: 2px 2px 2px ;
    transition: all 0.2s ease;
    cursor: pointer;
}

.checkButton:active{
    transform: scale(0.96);
}





/*<!---Layout3 Content Styling--->*/

#layout3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 1445px;
    height: 700px;
    padding: 20px 40px 20px 40px;
    background: linear-gradient(180deg,#262526,#515151,#676666,#D4D3D3,#E9E9E9);
    

}
    /*<!!--- Motto Section Styling--->*/
.motto{
    height: 200px;
}

#mottoText{

    font-family: David;
    font-weight: 500;
    font-size:xxx-large;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1.12px;
    color: #d6ad28;
    padding: 20px 20px 20px 50px;
}

#describtion{
    padding: 15px 50px 20px 60px;
    text-align: justify;
    font-family: David;
    color: rgb(250, 243, 230);
    line-height: 25px;
    letter-spacing: 0.8px;
    font-size: 20px;

}



    /*<!!--- About Section Styling--->*/
.about{
    padding-top: 80px;
    display: flex;
    height:500px;
}



        /*<!!!--- Beliefs and Members Styling--->*/
.members_beliefs{
    display: flex;
    flex-direction: column;
    width:660px;
}

.members{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 25px 0px;
    width: 660px;
    height:200px;
}

.memberImg{

    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.belief{
    padding: 10px;
}

#beliefText{
    height: 100%;
    width: 100%;
    padding: 10px 0px 10px 0px;
    text-align: justify;
    font-family: David;
    color: black;
    line-height: 25px;
    letter-spacing: 0.8px;
    font-size: 20px;
}




        /*<!!!--- Service Pictures Styling--->*/
.servicePic{
    width: 800px;
    display: flex;
}

#service1{
    display: flex;
    flex-direction:column ;
    gap: 5px;
    padding: 10px 0px 10px 20px;
}

.picService1{
    width: 370px;
    height: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.2s ease-in;
}

.picService1:active{
    
    transform: scale(1.5)  translateY(-50px);
}

#service2{
    padding: 0px 0px 15px 5px;
    display: flex;
    align-items: center;
}

.picService2{
    height: 405px;
    width: 400px;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    transition: all 0.2s ease-in;
}

.picService2:active{
    
    transform: scale(1.5) translateX(-150px) translateY(-50px);
}




/*<!--- Footer Styling--->*/
#footer{
    background: #414A4C;
    width: 1445px;
    height:300px;
    display: flex;
    flex-direction: row;
    padding: 7px 40px 7px 40px;
}

.info{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 1200px;
    align-items: center;
}

#map{
    border-radius: 5px;
    height:260px;
    width: auto;
}

ul{
    list-style-type:"-  ";
    text-align: justify;
    font-family: David;
    color: rgb(250, 243, 230);
    line-height: 25px;
    letter-spacing: 0.8px;
    font-size: 15px;
}

ul> li> h2{
    color:#e6c65c;
    
}
.title{
    list-style-type: none;
}

.bottomLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    padding: 20px;
}

#logobottom{
    width: 230px;
    height: 230px;
}